<%= simple_form_for(@cosmic_part) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.association :cosmic_lesson %>
    <%= f.association :ccss_math %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
