<%= simple_form_for(@cosmic_part) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.association :cosmic_lesson, collection: CosmicLesson.order(:cosmic_domain_order), label_method: :cosmic_domain_order %>
    <%= f.association :ccss_math, collection: CcssMath.order(:ccss_id), label_method: :ccss_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

