<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cosmic_part.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cosmic_part.content %>
</p>

<!-- there may be several lessons for one part ! Our procedure is to create another part as needed -->
<p>    <strong>Cosmic lesson:</strong> <%= CosmicLesson.find(@cosmic_part.cosmic_lesson_id).cosmic_domain_order %></p>
<p>    <strong>Ccss math:</strong> <%= CcssMath.find(@cosmic_part.ccss_math_id).ccss_id %></p>


<%= link_to 'Edit', edit_cosmic_part_path(@cosmic_part) %> |
<%= link_to 'Back', cosmic_parts_path %>
