<%= simple_form_for(@ccss_math) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :ccss_id %>
    <%= f.input :ccss_type %>
    <%= f.input :domain_id %>
    <%= f.input :domain_desc %>
    <%= f.input :grade_id %>
    <%= f.input :grade_name %>
    <%= f.input :cluster_id %>
    <%= f.input :standard_id %>
    <%= f.input :standard_desc %>
    <%= f.input :ccss_id %>
    <%= f.input :ccss_typ %>
    <%= f.input :domain_id %>
    <%= f.input :domain_desc %>
    <%= f.input :grade_id %>
    <%= f.input :grade_name %>
    <%= f.input :cluster_id %>
    <%= f.input :standard_id %>
    <%= f.input :standard_desc %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
