<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ccss_math.id %>
</p>



<p>
  <strong>Ccss:</strong>
  <%= @ccss_math.ccss_id %>
</p>

<p>
  <strong>Ccss typ:</strong>
  <%= @ccss_math.ccss_typ %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ccss_math.domain_id %>
</p>

<p>
  <strong>Domain desc:</strong>
  <%= @ccss_math.domain_desc %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @ccss_math.grade_id %>
</p>

<p>
  <strong>Grade name:</strong>
  <%= @ccss_math.grade_name %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @ccss_math.cluster_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @ccss_math.standard_id %>
</p>

<p>
  <strong>Standard desc:</strong>
  <%= @ccss_math.standard_desc %>
</p>



  <!-- parts in this standard ? -->
<strong>Parts for this standard:</strong>


<ul>
  <%  CosmicPart.where(ccss_math_id: @ccss_math).each do |part|   %>
  <li> Part#<%= part.part %><span>| <%= part.desc %> </span>

<!-- get all lessons associated with each part -->
    <%  LessonPart.where(cosmic_part_id:part.id).each do |p|   %>
      <span> -> Cosmic Lesson: <%= p.cosmic_lesson.cosmic_domain_order %> </span>
    <% end %>
    <ul><!-- get all accents and lessons associated with each part -->
    <%  CosmicAccent.where(cosmic_part_id: part.id).each do |accent|   %>
      <li> Accent: [<%= accent.content %>]</li>
        <!-- list accent content and extra lessons to cover -->
      <ul> <li>->Lessons covering [accents]:</li>
        <%  LessonAccent.where(cosmic_accent_id:accent.id).each do |a|   %>
          <span> -> Cosmic Lesson: <%= a.cosmic_lesson.cosmic_domain_order %> </span>
        <% end %>

        <li>-> part desc w/accent:  <%= part.desc.gsub!(accent.content, "[" + accent.content + "]")  %></li>
        </ul>
    <% end %>

  <% end %>

  </ul>
</ul>




<%= link_to 'Edit', edit_ccss_math_path(@ccss_math) %> |
<%= link_to 'Back', ccss_maths_path %>
