<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ccss_math.id %>
</p>

<p>
  <strong>Ccss:</strong>
  <%= @ccss_math.ccss_id %>
</p>

<p>
  <strong>Ccss type:</strong>
  <%= @ccss_math.ccss_type %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ccss_math.domain_id %>
</p>

<p>
  <strong>Domain desc:</strong>
  <%= @ccss_math.domain_desc %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @ccss_math.grade_id %>
</p>

<p>
  <strong>Grade name:</strong>
  <%= @ccss_math.grade_name %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @ccss_math.cluster_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @ccss_math.standard_id %>
</p>

<p>
  <strong>Standard desc:</strong>
  <%= @ccss_math.standard_desc %>
</p>

<p>
  <strong>Ccss:</strong>
  <%= @ccss_math.ccss_id %>
</p>

<p>
  <strong>Ccss typ:</strong>
  <%= @ccss_math.ccss_typ %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @ccss_math.domain_id %>
</p>

<p>
  <strong>Domain desc:</strong>
  <%= @ccss_math.domain_desc %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @ccss_math.grade_id %>
</p>

<p>
  <strong>Grade name:</strong>
  <%= @ccss_math.grade_name %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @ccss_math.cluster_id %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @ccss_math.standard_id %>
</p>

<p>
  <strong>Standard desc:</strong>
  <%= @ccss_math.standard_desc %>
</p>

<p>
  <strong>All associated lessons:</strong>
<ul>

  <% @ccss_math.cosmic_lessons.order(:cosmic_domain_order).each do |lesson| %>

    <li> Cosmic Domain Order #:
      <%= lesson.cosmic_domain_order %>
      Cosmic SEO Key #:
      <%= lesson.seo_key %>
    </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_ccss_math_path(@ccss_math) %> |
<%= link_to 'Back', ccss_maths_path %>
