<%= simple_form_for(@cosmic_activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :seo_key %>
    <%= f.input :title_short %>
    <%= f.input :title_long %>
    <%= f.input :overview %>
    <%= f.input :content %>
    <%= f.input :type %>
    <%= f.input :screenshot %>
    <%= f.input :thumbnail %>
    <%= f.input :custom1 %>
    <%= f.input :custom2 %>
    <%= f.association :cosmic_lesson %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
