<p id="notice"><%= notice %></p>

<h1>Listing Cosmic Activities</h1>

<table>
  <thead>
    <tr>
      <th>Seo key</th>
      <th>Title short</th>
      <th>Title long</th>
      <th>Overview</th>
      <th>Content</th>
      <th>Type</th>
      <th>Screenshot</th>
      <th>Thumbnail</th>
      <th>Custom1</th>
      <th>Custom2</th>
      <th>Cosmic lesson</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosmic_activities.each do |cosmic_activity| %>
      <tr>
        <td><%= cosmic_activity.seo_key %></td>
        <td><%= cosmic_activity.title_short %></td>
        <td><%= cosmic_activity.title_long %></td>
        <td><%= cosmic_activity.overview %></td>
        <td><%= cosmic_activity.content %></td>
        <td><%= cosmic_activity.type %></td>
        <td><%= cosmic_activity.screenshot %></td>
        <td><%= cosmic_activity.thumbnail %></td>
        <td><%= cosmic_activity.custom1 %></td>
        <td><%= cosmic_activity.custom2 %></td>
        <td><%= cosmic_activity.cosmic_lesson %></td>
        <td><%= link_to 'Show', cosmic_activity %></td>
        <td><%= link_to 'Edit', edit_cosmic_activity_path(cosmic_activity) %></td>
        <td><%= link_to 'Destroy', cosmic_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cosmic activity', new_cosmic_activity_path %>
