<p id="notice"><%= notice %></p>

<p>
  <strong>Seo key:</strong>
  <%= @cosmic_activity.seo_key %>
</p>

<p>
  <strong>Title short:</strong>
  <%= @cosmic_activity.title_short %>
</p>

<p>
  <strong>Title long:</strong>
  <%= @cosmic_activity.title_long %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @cosmic_activity.overview %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cosmic_activity.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cosmic_activity.type %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= @cosmic_activity.screenshot %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @cosmic_activity.thumbnail %>
</p>

<p>
  <strong>Custom1:</strong>
  <%= @cosmic_activity.custom1 %>
</p>

<p>
  <strong>Custom2:</strong>
  <%= @cosmic_activity.custom2 %>
</p>

<p>
  <strong>Cosmic lesson:</strong>
  <%= @cosmic_activity.cosmic_lesson %>
</p>

<%= link_to 'Edit', edit_cosmic_activity_path(@cosmic_activity) %> |
<%= link_to 'Back', cosmic_activities_path %>
