<p id="notice"><%= notice %></p>

<h1>Listing Cosmic Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Seo key</th>
      <th>Cosmic domain</th>
      <th>Cosmic domain order</th>
      <th>Title short</th>
      <th>Title long</th>
      <th>Overview</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosmic_lessons.each do |cosmic_lesson| %>
      <tr>
        <td><%= cosmic_lesson.seo_key %></td>
        <td><%= cosmic_lesson.cosmic_domain %></td>
        <td><%= cosmic_lesson.cosmic_domain_order %></td>
        <td><%= cosmic_lesson.title_short %></td>
        <td><%= cosmic_lesson.title_long %></td>
        <td><%= cosmic_lesson.overview %></td>
        <td><%= cosmic_lesson.content %></td>
        <td><%= link_to 'Show', cosmic_lesson %></td>
        <td><%= link_to 'Edit', edit_cosmic_lesson_path(cosmic_lesson) %></td>
        <td><%= link_to 'Destroy', cosmic_lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cosmic lesson', new_cosmic_lesson_path %>
