<p id="notice"><%= notice %></p>

<p>
  <strong>Seo key:</strong>
  <%= @cosmic_lesson.seo_key %>
</p>

<p>
  <strong>Cosmic domain:</strong>
  <%= @cosmic_lesson.cosmic_domain %>
</p>

<p>
  <strong>Cosmic domain order:</strong>
  <%= @cosmic_lesson.cosmic_domain_order %>
</p>

<p>
  <strong>Title short:</strong>
  <%= @cosmic_lesson.title_short %>
</p>

<p>
  <strong>Title long:</strong>
  <%= @cosmic_lesson.title_long %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @cosmic_lesson.overview %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cosmic_lesson.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @cosmic_lesson.type %>
</p>

<p>
  <strong>Custom1:</strong>
  <%= @cosmic_lesson.custom1 %>
</p>

<p>
  <strong>Custom2:</strong>
  <%= @cosmic_lesson.custom2 %>
</p>

<p>
  <strong>Ccss math:</strong>
  <%= @cosmic_lesson.ccss_math %>
</p>

<%= link_to 'Edit', edit_cosmic_lesson_path(@cosmic_lesson) %> |
<%= link_to 'Back', cosmic_lessons_path %>
