<%= simple_form_for(@cosmic_accent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>

    <%= f.association :cosmic_part, as: :radio_buttons,
    label_method:

      lambda {

        |cosmic| "#{cosmic.ccss} - Part# #{cosmic.part} - #{cosmic.desc} "

      } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
