<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @cosmic_accent.content %>
</p>

<p>
  <strong>Cosmic part:</strong>
  <%= @cosmic_accent.cosmic_part.ccss %> -Part# <%= @cosmic_accent.cosmic_part.part %>
</p>

<%= link_to 'Edit', edit_cosmic_accent_path(@cosmic_accent) %> |
<%= link_to 'Back', cosmic_accents_path %>
